*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 400vh;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(0deg, #141618, #141618),
                linear-gradient(0deg, #303133, #303133);
    font-size: 12px;

}
nav i:hover{
    color: orange;
}
nav a:hover{
    color: orange;
}
nav a{
    font-weight: 900;
}
nav ul{
    height: 135px;
}
ul a{
    text-decoration: none;
    color: #FFFFFF;
}
nav ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 70%;
    justify-content: center;
}
.baniere{
    background: no-repeat center url("img/banniere.jpg");
    background-size: cover;
    height: 100vh;
}
.fa-solid{
    align-items: center;
    margin-left: 20px;
    margin-right: none;
    color: #FFFFFF;
}
.baniere{
    background: url("img/div.header-bg.png"), lightgray 0px -284px / 100% 210.938% no-repeat;
    width: 100%;
    height: 512px;
    display: flex;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}