*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    justify-content: space-between;
}
.nav{
    flex-direction: row;
    width: 100px;
    height: 10px;
    justify-content: center;
}
.banniere{
    width: 100%;
}
.contact{
    margin-left: 25px;
}
.work{
    margin-left: 25px;
}
.sun{
    width: 50px;
    height: 50px;
}